@import "variables";
@import "utils";

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.pages {
  height: 100%;
  display: flex;
  width: 100%;
}

button, input {
  border: unset;
  background: unset;
}

#login-page, #register, #chats, #profile {
  display: flex;
  height: 100%;
  width: 100%;
}

#register .login-form {
  height: 615px;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 340px;
  border-radius: 12px;
  align-self: center;
  box-shadow: 0 0 6px #00000024;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  header {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  label {
    font-size: 9px;
    margin-top: 22px;
    min-height: 32px;
    display: flex;
    align-items: center;
  }

  .login-inputs {
    flex: 1;
  }

  .primary-button {
    width: 280px;
    height: 37px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: 14px;
  }

  .secondary-button {
    display: flex;
    margin: 0 auto;
    color: $primary;
  }

  input {
    border-bottom: 1px solid $primary;
    margin-top: 9px;
    margin-left: 28px;
    &:first-child {
      margin-top: 18px;
    }
  }

  .error-message {
    visibility: hidden;
    color: $danger;
    font-size: 10px;
    margin-left: 30px;
    min-height: 25px;
    display: block;
    &.show {
      visibility: visible;
    }
  }
}

#chats {
  flex-direction: row;
  height: 100%;

  .chats-list {
    min-width: 310px;
    border-right: 1px solid $border-color;
    flex: 1;

    .chat-item {
      min-height: 70px;
      max-height: 70px;
      border-bottom: 1px solid $border-color;
      display: flex;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      &:before {
        content: '';
        display: block;
        background: $border-color;
        min-width: 47px;
        height: 47px;
        border-radius: 50%;
      }
      .chat-item-text {
        padding: 10px;
        overflow: hidden;
      }
    }

    .profile-button {
      margin: 21px 0 21px auto;
      display: flex;
      align-items: center;
      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23999999'/%3E%3C/svg%3E%0A");
        width: 7px;
        height: 9px;
        display: inline-block;
        margin-left: 5px;
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      border-radius: 5px;
      background: $search-bg;
      color: $secondary-text;
      height: 32px;
      &:before {
        content: '';
        width: 12px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.59239 8.41382C6.16047 9.84574 3.83886 9.84574 2.40694 8.41382C0.975017 6.9819 0.975017 4.6603 2.40694 3.22837C3.83886 1.79645 6.16047 1.79645 7.59239 3.22837C9.02431 4.6603 9.02431 6.9819 7.59239 8.41382ZM8.03277 9.79678C6.07255 11.2962 3.25696 11.1495 1.46413 9.35663C-0.488491 7.40401 -0.488491 4.23819 1.46413 2.28556C3.41675 0.332943 6.58258 0.332943 8.5352 2.28556C10.3279 4.07831 10.4747 6.89373 8.97555 8.85394L12.5423 12.4206L11.5994 13.3635L8.03277 9.79678Z' fill='%23999999'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .chat-content {
    flex: 2;
    display: flex;
    margin: auto;
  }
}

#profile {
  display: flex;
  flex-direction: row;

  .controls {
    width: 64px;
    display: flex;
    height: 100%;
    background: #FBFBFB;
    border-right: $border-color;
    .back-button {
      margin: auto;
      background: $primary;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      &:before {
        content: '';
        display: flex;
        margin: auto;
        width: 13px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13' y='6.80005' width='11' height='1.6' transform='rotate(-180 13 6.80005)' fill='white'/%3E%3Cpath d='M6 11L2 6L6 1' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E");
      }
    }
  }

  .profile-content {
    box-sizing: border-box;
    margin: 60px auto;
    width: 510px;

    .profile-image {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background: $search-bg;
      margin-bottom: 21px;
    }

    .profile-info {
      margin-top: 60px;
    }

    .info-item {
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 33px;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 60px;
      button {
        color: $primary;
      }
      button:last-child {
        color: #FF0000;
      }
    }
  }
}

.error-page {
  width: 100%;
  height: 100%;
  display: flex;

  button {
    color: $primary;
    margin-top: 50px;
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.primary-button {
  background: $primary;
  color: white;
}
