@import "variables";
@import "utils";

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.pages {
  height: 100%;
  display: flex;
  width: 100%;
}

button,
input {
  border: unset;
  background-color: unset;
}

button {
  cursor: pointer;
}

#login-page,
#register,
#chats,
#profile {
  display: flex;
  height: 100%;
  width: 100%;
}

.primary-button {
  background: $primary;
  color: white;
}

input {
  border-bottom: 1px solid $primary;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 340px;
  border-radius: 12px;
  align-self: center;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;

  form {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap row;
  }

  header {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  label {
    font-size: 9px;
    margin-top: 21px;
    min-height: 32px;
    display: flex;
    align-items: center;
  }

  .login-inputs {
    flex: 1;
  }

  .primary-button {
    width: 280px;
    height: 37px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: 14px;
  }

  .secondary-button {
    display: flex;
    margin: 0 auto;
    color: $primary;
  }

  input {
    border-bottom: 1px solid $primary;
    margin-top: 10px;
    margin-left: 28px;

    &:first-child {
      margin-top: 29px;
    }
  }
}

#register .login-form,
#login-page .login-form {
  box-shadow: 0 0 6px #00000024;
}

#profile .change-profile {
  @extend .login-form; /* stylelint-disable-line */

  padding: 0;

  .profile-content {
    width: unset;
  }
}

input + .error-message {
  visibility: hidden;
  color: $danger;
  font-size: 10px;
  margin-left: 30px;
  min-height: 25px;
  display: block;

  &.show {
    visibility: visible;
  }
}

#register .login-form {
  height: 615px;
}

#login-page {
  .login-form {
    label {
      height: 50px;
    }

    input {
      margin-top: 30px;
      height: 20px;
    }
  }
}

.error-page {
  width: 100%;
  height: 100%;
  display: flex;

  button {
    margin-top: 50px;
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

#chats {
  flex-direction: row;
  height: 100%;

  .chat-container {
    width: 100%;
    display: flex;
  }

  .chats-list {
    min-width: 310px;
    max-width: 310px;
    border-right: 1px solid $border-color;
    flex: 1;

    .chat-item {
      min-height: 70px;
      max-height: 70px;
      border-bottom: 1px solid $border-color;
      display: flex;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      position: relative;

      .chat-item-text {
        padding: 10px;
        overflow: hidden;
      }

      .remove-chat {
        position: absolute;
        right: 15px;
        visibility: hidden;
      }

      &:hover {
        .remove-chat {
          visibility: visible;
        }
      }
    }

    .profile-button {
      margin: 21px 0 21px auto;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23999999'/%3E%3C/svg%3E%0A");
        width: 7px;
        height: 9px;
        display: inline-block;
        margin-left: 5px;
      }
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      border-radius: 5px;
      background: $search-bg;
      color: $secondary-text;
      height: 32px;

      &::before {
        content: "";
        width: 12px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.59239 8.41382C6.16047 9.84574 3.83886 9.84574 2.40694 8.41382C0.975017 6.9819 0.975017 4.6603 2.40694 3.22837C3.83886 1.79645 6.16047 1.79645 7.59239 3.22837C9.02431 4.6603 9.02431 6.9819 7.59239 8.41382ZM8.03277 9.79678C6.07255 11.2962 3.25696 11.1495 1.46413 9.35663C-0.488491 7.40401 -0.488491 4.23819 1.46413 2.28556C3.41675 0.332943 6.58258 0.332943 8.5352 2.28556C10.3279 4.07831 10.4747 6.89373 8.97555 8.85394L12.5423 12.4206L11.5994 13.3635L8.03277 9.79678Z' fill='%23999999'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .members-list {
    min-width: 200px;
    border-left: 1px solid $border-color;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;

    button {
      color: $primary;
    }

    .add-user-modal {
      position: absolute;
      right: 5px;
    }
  }

  .add-chat {
    position: relative;
  }

  .add-chat-button {
    color: $primary;
    margin: 5px;
  }

  .add-chat-modal {
    position: absolute;
    right: -40px;
    top: -2px;

    input {
      margin-top: auto;
    }
  }

  .chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    .header {
      display: flex;
      height: 54px;
      border-bottom: 1px solid $border-color;
      align-items: center;
      padding: 16px;
      box-sizing: border-box;

      .members-button::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' stroke='%23000000' stroke-width='0'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3C!-- Uploaded to: SVGRepo, www.svgrepo.com, Transformed by: SVGRepo Tools --%3E%3Ctitle%3Eic_fluent_people_community_add_24_filled%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='SVGRepoEditor' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='SVGRepoEditor' fill='%23212121' fill-rule='nonzero'%3E%3Cpath d='M17.5,12 C20.5375661,12 23,14.4624339 23,17.5 C23,20.5375661 20.5375661,23 17.5,23 C14.4624339,23 12,20.5375661 12,17.5 C12,14.4624339 14.4624339,12 17.5,12 Z M17.5,13.9992349 L17.4101244,14.0072906 C17.2060313,14.0443345 17.0450996,14.2052662 17.0080557,14.4093593 L17,14.4992349 L16.9996498,16.9992349 L14.4976498,17 L14.4077742,17.0080557 C14.2036811,17.0450996 14.0427494,17.2060313 14.0057055,17.4101244 L13.9976498,17.5 L14.0057055,17.5898756 C14.0427494,17.7939687 14.2036811,17.9549004 14.4077742,17.9919443 L14.4976498,18 L17.0006498,17.9992349 L17.0011076,20.5034847 L17.0091633,20.5933603 C17.0462073,20.7974534 17.207139,20.9583851 17.411232,20.995429 L17.5011076,21.0034847 L17.5909833,20.995429 C17.7950763,20.9583851 17.956008,20.7974534 17.993052,20.5933603 L18.0011076,20.5034847 L18.0006498,17.9992349 L20.5045655,18 L20.5944411,17.9919443 C20.7985342,17.9549004 20.9594659,17.7939687 20.9965098,17.5898756 L21.0045655,17.5 L20.9965098,17.4101244 C20.9594659,17.2060313 20.7985342,17.0450996 20.5944411,17.0080557 L20.5045655,17 L17.9996498,16.9992349 L18,14.4992349 L17.9919443,14.4093593 C17.9549004,14.2052662 17.7939687,14.0443345 17.5898756,14.0072906 L17.5,13.9992349 Z M12.02195,13.9997937 C11.3750475,15.010137 11,16.21127 11,17.5 C11,18.3838153 11.1763947,19.2264314 11.4958991,19.9945634 C8.94205586,19.8573327 7.5,18.7731072 7.5,16.75 L7.5,15.75 C7.5,14.7835017 8.28350169,14 9.25,14 L12.02195,13.9997937 Z M8.12599558,9.0000851 C8.04374524,9.3196794 8,9.65473108 8,10 C8,11.1155313 8.45664565,12.1244073 9.19320511,12.8498962 L9.35525927,13.0009561 L9.25,13 C8.94865366,13 8.65862814,13.0484702 8.38729437,13.1380397 C7.52254738,13.4234998 6.84765465,14.1264102 6.60122004,15.0081669 L6.5667905,15.0090369 C3.6578611,15.0090369 2,13.9192116 2,11.75 L2,10.75 C2,9.8318266 2.70711027,9.07880766 3.60647279,9.0058012 L3.75,9 L8.12599558,9.0000851 Z M12,7 C13.6568542,7 15,8.34314575 15,10 C15,11.6568542 13.6568542,13 12,13 C10.3431458,13 9,11.6568542 9,10 C9,8.34314575 10.3431458,7 12,7 Z M20.25,9 C21.2164983,9 22,9.78350169 22,10.75 L21.9989377,11.7120717 C22.0185903,12.0809152 21.988724,12.4190637 21.9114947,12.7263897 C20.751839,11.6544204 19.2023435,11 17.5,11 C16.9146982,11 16.3474651,11.077361 15.8079678,11.2224158 C15.9331115,10.8382591 16,10.4269409 16,10 C16,9.65473108 15.9562548,9.3196794 15.8740044,9.0000851 L20.25,9 Z M6.5,2 C8.15685425,2 9.5,3.34314575 9.5,5 C9.5,6.65685425 8.15685425,8 6.5,8 C4.84314575,8 3.5,6.65685425 3.5,5 C3.5,3.34314575 4.84314575,2 6.5,2 Z M17.5,2 C19.1568542,2 20.5,3.34314575 20.5,5 C20.5,6.65685425 19.1568542,8 17.5,8 C15.8431458,8 14.5,6.65685425 14.5,5 C14.5,3.34314575 15.8431458,2 17.5,2 Z' id='SVGRepoEditor'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }

  .messages {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;

    .message {
      max-width: 300px;
      min-width: 300px;
      background: #F8F8F8;
      margin: 5px;
      border-radius: 5%;
      padding: 10px;

      &:not(.incoming) {
        align-self: end;
      }

      .incoming {
        align-self: start;
      }
    }

    .message:first-child {
      margin-top: auto;
    }
  }

  .message-input {
    height: 54px;
    display: flex;
    border-top: 1px solid $border-color;
    padding: 10px;
    box-sizing: border-box;

    input {
      flex-grow: 1;

      &.invalid {
        border: 1px solid $danger;
        margin: 0 5px;
      }
    }

    button {
      background: $primary;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      align-self: center;

      &::before {
        content: "";
        display: flex;
        margin: auto;
        width: 13px;
        height: 12px;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13' y='6.80005' width='11' height='1.6' transform='rotate(-180 13 6.80005)' fill='white'/%3E%3Cpath d='M6 11L2 6L6 1' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E");
      }
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px #00000024;
  height: 200px;
  width: 270px;
  background: white;
  padding: 12px;
  box-sizing: border-box;
  z-index: 2;

  h4 {
    margin: 0;
  }
}

#profile {
  display: flex;
  flex-direction: row;

  .controls {
    width: 64px;
    display: flex;
    height: 100%;
    background: #FBFBFB;
    border-right: $border-color;

    .back-button {
      margin: auto;
      background: $primary;
      border-radius: 50%;
      width: 28px;
      height: 28px;

      &::before {
        content: "";
        display: flex;
        margin: auto;
        width: 13px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13' y='6.80005' width='11' height='1.6' transform='rotate(-180 13 6.80005)' fill='white'/%3E%3Cpath d='M6 11L2 6L6 1' stroke='white' stroke-width='1.6'/%3E%3C/svg%3E");
      }
    }
  }

  .profile-content {
    box-sizing: border-box;
    margin: 60px auto;
    width: 510px;

    .profile-image {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background: $search-bg;
      margin-bottom: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .profile-info {
      margin-top: 60px;
    }

    .error-message {
      margin-left: 28px;
      max-width: 170px;
    }

    & .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
    }

    .profile-info.editing {
      .info-item {
        align-items: baseline;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 60px;

      button {
        color: $primary;
      }

      button:last-child {
        color: #FF0000;
      }
    }
  }
}
