.text-muted {
  color: #999999;
}

.fw-bold {
  font-weight: bold;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}
