.text-muted {
  color: #999999;
}

.fw-bold {
  font-weight: bold;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.m-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}
