---
id: "chats"
chats: {
    1: {
        name: 'Name',
        messages: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam'
    },
    2: {
        name: 'Name2',
        messages: 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'
    }
}
---
<html>
<head>
    <script src="../index.js" type="module"></script>
</head>
<body>
<div id="{{ id }}">
    <div class="chats-list">
        <button onclick="location.href=`${location.origin}/profile`" class="secondary-button profile-button text-muted">Profile</button>
        <div class="search">Search</div>
        {{#each chats}}
            <div class="chat-item">
                <div class="chat-item-text">
                    <span class="fw-bold">{{this.name}}</span>
                    <div class="text-overflow text-muted">{{this.messages}}</div>
                </div>
            </div>
        {{/each}}

    </div>
    <div class="chat-content">
        <span class="text-muted m-auto">Select chat to start messaging</span>
    </div>
</div>
</body>
</html>