---
id: "profile"
name: "Name"
info: {
    first_name: {
        key: 'First name',
        value: 'Firstname'
    },
    second_name: {
        key: 'Last name',
        value: 'Lastname'
    },
    display_name: {
        key: 'Display name',
        value: 'Name'
    },
    login: {
        key: 'Login',
        value: '@login'
    },
    email: {
        key: 'Email',
        value: 'email@mail.mail'
    },
    phone: {
        key: 'Phone',
        value: '123456789'
    },
}
---
<html>
<head>
    <script src="../index.js" type="module"></script>
</head>
<body>
    <main id="{{ id }}">
        <div class="controls">
            <button onclick="location.href=`${location.origin}/chats`" class="back-button"></button>
        </div>
        <div class="profile-content">
            <div class="profile-image m-auto"></div>
            <h2 class="fw-bold m-auto text-center">{{ name }}</h2>
            <div class="profile-info">
                {{#each info}}
                    <div class="info-item">
                        <span class="fw-bold">{{this.key}}</span>
                        <span class="text-muted">{{this.value}}</span>
                    </div>
                {{/each}}
            </div>
            <div class="actions">
                <button>Edit profile</button>
                <button>Change password</button>
                <button onclick="location.href=`${location.origin}/login`">Log out</button>
            </div>
        </div>
    </main>
</body>
</html>
