$primary: #3369F3;

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

button, input {
  border: unset;
  background: unset;
}

#login, #register {
  display: flex;
  height: 100%;
  width: 100%;
}

#register .login-form {
  height: 615px;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 340px;
  border-radius: 12px;
  align-self: center;
  box-shadow: 0 0 6px #00000024;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;

  header {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  label {
    font-size: 9px;
    margin-top: 16px;
  }

  a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  .primary-button {
    width: 280px;
    height: 37px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: 14px;
  }

  .secondary-button {
    display: flex;
    margin: 0 auto;
    color: $primary; // TODO variables
  }

  input {
    border-bottom: 1px solid $primary;
  }
}

.primary-button {
  background: $primary;
  color: white;
}



// TODO
.text-muted {
  color: #999999;
}